# Exemplo de variáveis ​​de ambiente para o exercicio-02
# Copie este arquivo para .env e modifique os valores conforme necessário.

DB_HOST=exercicio-02-db
DB_USER=user_example
DB_PASS=senha123
DB_NAME=exercicio-02-db
POSTGRES_PASSWORD=senha123
POSTGRES_DB=exercicio-02-db
POSTGRES_USER=postgres
