# Exemplo de variáveis ​​de ambiente para o exercicio-extra
# Copie este arquivo para .env e modifique os valores conforme necessário.

DB_HOST=exercicio-extra-db
DB_USER=user_example
DB_PASS=senha123
DB_NAME=exercicio-extra-db
POSTGRES_PASSWORD=senha123
POSTGRES_DB=exercicio-extra-db
POSTGRES_USER=postgres
